# Arboles de decisión

Los Arboles de Decision son diagramas con construcciones lógicas, muy similares a los sistemas de predicción basados en reglas, que sirven para representar y categorizar una serie de condiciones que ocurren de forma sucesiva, para la resolución de un problema. Los Arboles de Decision están compuestos por nodos interiores, nodos terminales y ramas que emanan de los nodos interiores. Cada nodo interior en el árbol contiene una prueba de un atributo, y cada rama representa un valor distinto del atributo. Siguiendo las ramas desde el nodo raíz hacia abajo, cada ruta finalmente termina en un nodo terminal creando una segmentación de los datos.

Algunas razones de aprender arboles de decisión:
- Son útiles tanto para problemas de regresión como de clasificación.
- Son populares.
- Son la base de enfoques de modelado más sofisticados.
- Demuestran una forma diferente de "pensar" que los modelos que hemos estudiado hasta ahora.

Para comprender mejor el concepto de árbol de decisión, supongamos que Nuestra meta es predecir el Salario de un jugador de béisbol basado en Años (número de años jugando en las ligas mayores) e Hits (número de golpes que hizo el año anterior). Aquí están los datos de la formación, representados visualmente (el salario bajo es azul/verde, el alto es rojo/amarillo):<br>

Datos de los jugadores de las Grandes Ligas de Béisbol de 1986-87: <br>

Años (eje x): número de años jugando en las ligas mayores.<br>
Hits (eje y): número de impactos en el año anterior.

![beisol_arbol](img/beisol_arbol.png)

Ejercicio en grupo:<br>
Los datos anteriores son nuestros datos de formación.<br>
Queremos construir un modelo que prediga el Salario de los futuros jugadores basado en Años y Hits.<br>
Vamos a "segmentar" el espacio de características en regiones, y luego usar el Salario medio en cada región como el Salario predicho para futuros jugadores.<br>
Intuitivamente, usted quiere maximizar la similitud (u "homogeneidad") dentro de una región dada, y minimizar la similitud entre diferentes regiones.<br>
Reglas de segmentación:
- Sólo se pueden utilizar líneas rectas, dibujadas de una en una.
- Su línea debe ser vertical u horizontal.
- Su línea se detiene cuando choca con una línea existente.

A continuación, se muestra un árbol de regresión que ha sido ajustado a los datos por una computadora. (Hablaremos más adelante sobre cómo funciona realmente el algoritmo de adaptación.) Tenga en cuenta que el salario se mide en miles y se ha transformado en registros.

![arbol_computadora](img/arbol_computadora.png)

Empiece por arriba y examine la primera "regla de partición" (Años < 4,5).<br>
Si la regla es True para un jugador dado, sigue la rama izquierda. Si la regla es Falsa, siga la rama derecha.<br>
Continúe hasta llegar al fondo. El Salario predicho es el número en ese "cubo" en particular.<br>
Nota: Los Años y los Hits son ambos enteros, pero la convención es etiquetar estas reglas usando el punto medio entre valores adyacentes.<br>
Ejemplo de predicciones:
- 3 años, entonces se predice 5.11($ 1000 x e5.11 ~ $166000)
- 5 años y 100 hits, entonces se predice 6.00($ 1000 x e6.00 ~ $403000)
- 8 años y 120 hits, entonces se predice 6.74($ 1000 x e6.74 ~ $846000)

¿Cómo se nos ocurrieron los números de la parte inferior del árbol? <br>Cada número es sólo el salario medio en los datos de entrenamiento de los jugadores que cumplen con ese criterio.

Aquí está el mismo diagrama que antes, dividido en las tres regiones:

![arbol_region](img/arbol_region.png)

Este diagrama es esencialmente una combinación de los dos diagramas anteriores. En R1, el salario medio del registro fue de 5.11. En R2, el salario medio del registro fue de 6.00. En R3, el salario medio del registro fue de 6.74. Por lo tanto, esos valores se utilizan para predecir datos fuera de la muestra.

Vamos a introducir algo de terminología:

![terminologia_arbol](img/salary_tree_annotated.png)

¿Cómo podría interpretar el "significado" de este árbol?

Los Años son el factor más importante que determina el Salario, con un menor número de Años que corresponden a un Salario más bajo.<br>
Para un jugador con un número menor de Años, los Impactos no son un factor importante para determinar el Salario.<br>
Para un jugador con un número mayor de Años, los Impactos son un factor importante que determina el Salario, con un mayor número de Impactos que corresponde a un Salario mayor.<br>

Lo que hemos visto hasta ahora indica las ventajas y desventajas de los árboles de decisión:

- Altamente interpretable
- Puede visualizarse gráficamente
- La predicción es rápida

Desventajas:

- La precisión predictiva no es tan alta como algunos métodos de aprendizaje supervisado
- Puede fácilmente sobredimensionar los datos de entrenamiento

Ejemplo de árbol de regresión con scikit-learn

In [83]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT5/master/data/vehicles_train.csv')

In [2]:
train

    price  year   miles  doors   type
0   22000  2012   13000      2    car
1   14000  2010   30000      2    car
2   13000  2010   73500      4    car
3    9500  2009   78000      4    car
4    9000  2007   47000      4    car
5    4000  2006  124000      2    car
6    3000  2004  177000      4    car
7    2000  2004  209000      4  truck
8    3000  2003  138000      2    car
9    1900  2003  160000      4    car
10   2500  2003  190000      2  truck
11   5000  2001   62000      4    car
12   1800  1999  163000      2  truck
13   1300  1997  138000      4    car

In [94]:
train['type'] = train.type.map({'car':0, 'truck':1})

In [95]:
train

    price  year   miles  doors  type
0   22000  2012   13000      2     0
1   14000  2010   30000      2     0
2   13000  2010   73500      4     0
3    9500  2009   78000      4     0
4    9000  2007   47000      4     0
5    4000  2006  124000      2     0
6    3000  2004  177000      4     0
7    2000  2004  209000      4     1
8    3000  2003  138000      2     0
9    1900  2003  160000      4     0
10   2500  2003  190000      2     1
11   5000  2001   62000      4     0
12   1800  1999  163000      2     1
13   1300  1997  138000      4     0

In [96]:
feature_cols = train.columns[1:]

In [97]:
feature_cols

Index(['year', 'miles', 'doors', 'type'], dtype='object')

In [98]:
X = train[feature_cols]

In [99]:
X

    year   miles  doors  type
0   2012   13000      2     0
1   2010   30000      2     0
2   2010   73500      4     0
3   2009   78000      4     0
4   2007   47000      4     0
5   2006  124000      2     0
6   2004  177000      4     0
7   2004  209000      4     1
8   2003  138000      2     0
9   2003  160000      4     0
10  2003  190000      2     1
11  2001   62000      4     0
12  1999  163000      2     1
13  1997  138000      4     0

In [100]:
y = train.price

In [101]:
y

0     22000
1     14000
2     13000
3      9500
4      9000
5      4000
6      3000
7      2000
8      3000
9      1900
10     2500
11     5000
12     1800
13     1300
Name: price, dtype: int64

In [102]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

In [103]:
treereg = DecisionTreeRegressor(random_state=1)

Ajuste de un árbol de regresión<br>
Veamos si podemos reducir el RMSE sintonizando el parámetro max_depth. Una forma de buscar un valor óptimo sería probar diferentes valores, uno por uno:

In [114]:
# try max_depth=1 
treereg = DecisionTreeRegressor(max_depth=1, random_state=1) 
scores = cross_val_score(treereg, X, y, cv=14) 
np.mean(np.sqrt(-scores))

0.0

In [105]:
from sklearn.model_selection import cross_val_score

In [18]:
# max_depth=3 was best, so fit a tree using that parameter 
treereg = DecisionTreeRegressor(max_depth=3, random_state=1) 
treereg.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [19]:
pd.DataFrame({'feature':feature_cols, 'importance':treereg.feature_importances_})

  feature  importance
0    year    0.798744
1   miles    0.201256
2   doors    0.000000
3    type    0.000000

creando el diagrama

In [20]:
from sklearn.tree import export_graphviz

In [21]:
with open("tree_vehicles.dot", 'w') as f:
    f = export_graphviz(treereg, out_file=f, feature_names=train.columns[train.columns != 'price'])

<b>Nodos internos:</b><br>

"muestras" es el número de observaciones en ese nodo antes de la división<br>
"mse" es el error cuadrático medio calculado comparando los valores reales de respuesta en ese nodo con el valor medio de respuesta en ese nodo.<br>
primera línea es la condición usada para dividir ese nodo (ir a la izquierda si es verdadero, ir a la derecha si es falso)<br>

<b>Hojas:</b>

"muestras" es el número de observaciones en ese nodo<br>
"valor" es el valor medio de la respuesta en ese nodo<br>
"mse" es el error cuadrático medio calculado comparando los valores reales de respuesta en ese nodo con "valor".

Probando el modelo con datos de entrenamiento

In [ ]:
# read the test data 
test = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT5/master/data/vehicles_test.csv') 
# encode car as 0 and truck as 1 
test['type'] = test.type.map({'car':0, 'truck':1}) 
# print the data 
test

In [ ]:
# define X and y
X_test = test[feature_cols]
y_test = test.price

In [ ]:
y_pred = treereg.predict(X_test)

In [ ]:
y_pred

In [ ]:
from sklearn import metrics
import numpy as np
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

In [ ]:
y_test = [3000, 6000, 12000]
y_pred = [3057, 3057, 16333]
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(classification_report(y_test,predictions))

In [ ]:
print(confusion_matrix(y_test,y_pred))

Arboles de clasificación

Los árboles de clasificación son muy similares a los árboles de regresión. He aquí una rápida comparación:

|árboles de regresión|árboles de clasificación|
      |---|---|
      |predecir una respuesta continua|predecir una respuesta categórica|
      |predecir usando la respuesta media de cada hoja |predecir usando la clase más común de cada hoja|
      |las divisiones se eligen para minimizar MSE|las divisiones se eligen para minimizar el índice de Gini (discutido a continuación)|

Criterios de partición para árboles de clasificación<br>
A continuación, se presentan opciones comunes para los criterios de partición:

- tasa de error de clasificación: fracción de las observaciones de entrenamiento en una región que no pertenece a la clase más común
- Índice de Gini: medida de la varianza total entre clases en una región
- centropía cruzada: numéricamente similar al índice de Gini

El objetivo de la división es aumentar la "pureza del nodo", y resulta que el índice de Gini y la cruzentropía son mejores medidas de pureza que la tasa de error de clasificación. El índice de Gini es más rápido de calcular que el de centrocross, por lo que generalmente es el preferido (y es usado por scikit-learn por defecto).

Ejemplos de cálculos del índice de Gini

Digamos que estamos prediciendo la supervivencia en el Titanic. En un nodo en particular, hay 25 individuos, de los cuales 10 sobrevivieron y 15 murieron. Así es como calculamos el índice de Gini antes de hacer una división:<br>

![gini](img/math1.svg)


El valor máximo del índice Gini es de 0,5, y se produce cuando las clases están perfectamente equilibradas en un nodo. El valor mínimo del índice Gini es 0, y ocurre cuando sólo hay una clase representada en un nodo. Así, un nodo con un índice de Gini más bajo se dice que es más "puro".

Al decidir entre particiones, el algoritmo del árbol de decisión elige la partición que maximiza la pureza del nodo resultante. Supongamos que el género fue la división que se está considerando, y los nodos resultantes son los siguientes:

Hombres: 2 sobrevivieron, 13 murieron<br>
Hembras: 8 sobrevivieron, 2 murieron

Para evaluar esta división, calculamos el promedio ponderado de los índices de Gini de los nodos resultantes:<br>

![gini](img/math2.svg)

Por lo tanto, la disminución del índice de Gini (y el aumento de la pureza) a partir de la división en sexos es de 0,21. El algoritmo del árbol de decisión elegirá esta división si ninguna otra división resulta en una mayor ganancia en pureza.

Ejemplo de árbol de clasificación en scikit-learn

In [65]:
titanic = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT5/master/data/titanic_train.csv')

In [66]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Elijamos nuestra variable de respuesta y algunas características, y repasemos cómo manejar las características categóricas:

Sobrevivió: Esta es nuestra variable de respuesta, y ya está codificada como 0=muerto y 1=vivo.<br>
Clase P: Estas son las categorías de clase de pasajeros (1=primera clase, 2=segunda clase, 3=tercera clase). Están ordenados lógicamente, así que los dejaremos como están. (Si el árbol se divide en esta característica, las divisiones ocurrirán en 1.5 o 2.5.)<br>
Sexo: Esta es una categoría binaria, por lo que debemos codificarla como 0=mujer y 1=hombre. (Si el árbol se divide en esta característica, la división ocurrirá en 0.5.)<br>
Edad: Esta es una característica numérica, pero necesitamos rellenar los valores que faltan.<br>
Embarcado: Este es el puerto de donde salieron. Hay tres categorías desordenadas, así que debemos crear variables ficticias y dejar caer un nivel como de costumbre.

In [67]:
# encode female as 0 and male as 1
titanic['Sex'] = titanic.Sex.map({'female':0, 'male':1})

In [68]:
# fill in the missing values for age with the mean age
titanic.Age.fillna(titanic.Age.mean(), inplace=True)

In [69]:
# create three dummy variables, drop the first dummy variable, and store the two remaining columns as a DataFrame
embarked_dummies = pd.get_dummies(titanic.Embarked, prefix='Embarked').iloc[:, 1:]

In [70]:
embarked_dummies

     Embarked_Q  Embarked_S
0             0           1
1             0           0
2             0           1
3             0           1
4             0           1
5             1           0
6             0           1
7             0           1
8             0           1
9             0           0
10            0           1
11            0           1
12            0           1
13            0           1
14            0           1
15            0           1
16            1           0
17            0           1
18            0           1
19            0           0
20            0           1
21            0           1
22            1           0
23            0           1
24            0           1
25            0           1
26            0           0
27            0           1
28            1           0
29            0           1
..          ...         ...
861           0           1
862           0           1
863           0           1
864           0           1
865           0           1
866           0           0
867           0           1
868           0           1
869           0           1
870           0           1
871           0           1
872           0           1
873           0           1
874           0           0
875           0           0
876           0           1
877           0           1
878           0           1
879           0           0
880           0           1
881           0           1
882           0           1
883           0           1
884           0           1
885           1           0
886           0           1
887           0           1
888           0           1
889           0           0
890           1           0

[891 rows x 2 columns]

In [71]:
# concatenate the two dummy variable columns onto the original DataFrame
titanic = pd.concat([titanic, embarked_dummies], axis=1)

In [72]:
# print the updated DataFrame
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,C,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,S,0,1
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,S,0,1
5,6,0,3,"Moran, Mr. James",1,29.699118,0,0,330877,8.4583,NaN,Q,1,0
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,S,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,S,0,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,S,0,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,C,0,0

In [73]:
feature_cols = ['Pclass', 'Sex', 'Age', 'Embarked_Q', 'Embarked_S']

In [74]:
X = titanic[feature_cols]

In [75]:
y = titanic.Survived

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.1, random_state = 1)

In [78]:
from sklearn.tree import DecisionTreeClassifier
treeclf = DecisionTreeClassifier(max_depth=3, random_state=1)
treeclf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [79]:
with open("tree_titanic.dot", 'w') as f:
    f = export_graphviz(treeclf, out_file=f, feature_names=feature_cols)

Fíjese en la división en la parte inferior derecha. La misma clase se predice en ambas hojas! ¿Por qué se produjo esta división?<br>

Aunque esa división no afectó la tasa de error de clasificación, sí aumentó la pureza del nodo. La pureza del nodo es importante porque nos interesan las proporciones de clase entre las observaciones de cada región.

In [80]:
# compute the feature importances
pd.DataFrame({'feature':feature_cols, 'importance':treeclf.feature_importances_})

      feature  importance
0      Pclass    0.233117
1         Sex    0.655664
2         Age    0.072036
3  Embarked_Q    0.000000
4  Embarked_S    0.039182

In [81]:
from sklearn import metrics
def measure_performance(X,y,clf, show_accuracy=True, show_classification_report=True, show_confusion_matrix=True):
    y_pred=clf.predict(X)   
    if show_accuracy:
        print ("Accuracy:{0:.3f}".format(metrics.accuracy_score(y,y_pred)),"\n")

    if show_classification_report:
        print ("Classification report")
        print (metrics.classification_report(y,y_pred),"\n")
        
    if show_confusion_matrix:
        print ("Confusion matrix")
        print (metrics.confusion_matrix(y,y_pred),"\n")
        
measure_performance(x_train,y_train,treeclf, show_classification_report=False, show_confusion_matrix=False)

Accuracy:0.831

He aquí algunas ventajas y desventajas de los árboles de decisión de los que aún no hemos hablado:

- Pueden especificarse como una serie de reglas, y se piensa que se aproximan más a la toma de decisiones humanas que otros modelos.
- o paramétrico (será mejor que los modelos lineales si la relación entre las características y la respuesta es altamente no lineal)
- Pueden ser utilizados para regresion o clasificacion
- Puede visualizarse gráficamente
- Tiende a ignorar características irrelevantes
- Las funciones no necesitan escalado

Desventajas:

- El rendimiento (generalmente) no es competitivo con los mejores métodos de aprendizaje supervisado
- Puede fácilmente sobredimensionar los datos de entrenamiento (se requiere afinación)
- Pequeñas variaciones en los datos pueden resultar en un árbol completamente diferente (alta varianza)
- La división binaria recurrente toma decisiones "localmente óptimas" que pueden no resultar en un árbol globalmente óptimo.
- No suele funcionar bien si las clases están muy desequilibradas
- No tiende a funcionar bien con conjuntos de datos muy pequeños

Es de resaltar que existe variantes del algoritmo de árbol de decisión:

algoritmos por particionamiento: 
    
- C4.5
- CART
- ID3
- CHAID

Algoritmos por cobertura:
- AQ
- CN2